<li class="nav-item">
  <a class="nav-link" (click)="updateLoi()" id="search_lois" href="#modal-container-filtered" role="button" data-toggle="modal">
    <i class="fa fa-search"></i>
    {{ 'dashboard.options.searchloi' | translate }}
  </a>
</li>  

<div class="modal fade" id="modal-container-filtered">
  <div class="modal-dialog">
      <div class="modal-content modalinf">
          <div class="modal-header fechar">
              <h5 class="modal-title boxtitletable"><span>{{ 'dashboard.search.searchTitle' | translate }} -> {{ 'dashboard.loi.'+loi | translate }}</span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
          </div>
          <div class="modal-body">
              <div class="priority-cities-switch-div" *ngIf="this.panelReference.selectedLoi=='mun' && this.panelReference.biome == 'legal_amazon'">
                <div class="sub-title">
                  {{ 'dashboard.search.priorityCitiesSwitch' | translate }}               
                  <div class="material-switch priority-cities-switch">
                    <input id="priority-cities-selector" type="checkbox" (click)="switchPrioritiesCities()" [checked]="prioritiesCities"/>
                    <label for="priority-cities-selector" class="bg-white"></label>
                  </div>
                </div>
              </div>
              <div class="alert alert-danger" role="alert" id="loi-search-error-div" style="display: none;">              
              </div>              
              <!--div class="sub-title"></div-->
              <div class="input-group input-group-sm" >
                  <input placeholder="{{ 'dashboard.search.searchDescription' | translate }}"  autofocus id="search-county" [value]="searchTerm" (keyup)="handleFilterChange($event.target.value)" type="text" class="form-control">
                  <i class="material-icons search-pos">search</i>
              </div>
              <div class="select-all-switch-div">
                <div class="sub-title">
                  {{ 'dashboard.search.selectall' | translate }}               
                  <div class="material-switch select-all-switch">
                    <input id="loi-search-selectall-selector" type="checkbox" (click)="toogleSelectAll()" [checked]="selectAll"/>
                    <label for="loi-search-selectall-selector" class="bg-white"></label>
                  </div>
                </div>
              </div>    
              <div class="counties-list">

                <ul *ngIf="results" class="list-group">
                  <li *ngFor="let result of results" (click)="selectLoi(result.key);" [class.active]="isSelected(result.key)" class="list-group-item loi-list" id="{{ result.key + '_item'}}">
                    <span >
                      {{ result.value }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="button-div">                
                <button type="button" class="btn btngreen" data-dismiss="modal"><i class="material-icons">clear</i>{{ 'dashboard.search.close' | translate }}</button>
                <button type="button" class="btn btngreen" id="apply-button" (click)="apply()"><i class="material-icons">done</i>{{ 'dashboard.search.apply' | translate }}</button>
              </div>
          </div>
          <div class="modal-footer">
              <div class="checkbox pull-right">
                  <label>
                    <!-- Quantidade de Locais: {{results.length}} -->
                    <!--<button type="button" class="btn btngreen" data-dismiss="modal">
                      <span>{{ 'dashboard.search.close' | translate }}</span>
                    </button>-->
                  </label>
              </div>
          </div>
      </div>
  </div>
</div>